body{
    background-color: rgb(255, 0, 0);

margin: 50px;

}
div
{

    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
   box-shadow: 5px 5px 5px 5px rgb(0, 0, 0);
    width: 280px;
    height: 500px;
    border-radius: 50px;
    display: inline-block;
    margin-left: 50px;
    margin-top: 50px;

 

}
img{
    width: 100%;
    height: 200px;
border-top-right-radius: 50px;
border-top-left-radius: 50px;
}
.abc{    

    margin-top: 10px;
    margin-left: 10px;
    background-color: rgb(110, 202, 255);
    border-radius: 40px;
    border: 1px solid black;
}
.x{
    margin-top: 10px;
     margin-left: 10px;
    background-color:rgb(255, 8, 8);
    border-radius: 40px;
    border: 1px solid black;
}

.y{
    margin-top: 10px;
    margin-left: 10px;
    background-color: rgb(253, 11, 160);
    border-radius: 40px;
    border: 1px solid black;
}

p{
    margin-left: 5px;
    margin-right: 5px;


}
h2{
    margin-left: 20px;
    text-decoration: underline;
font-size: 120%;
text-size-adjust: 


}
#xcv{
    border-radius: 200px;
    height: 40px;
    width: 40px;
    margin: right 180px;
    margin-left: 20px;

    
}
#xcv,.r{
   display: inline-block;

  
}